@import './partials/colors';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Poppins";
}

header {
    background-image: url('/assets/images/bkg-hero-header.jpg');
    background-size: cover;
    height: 800px;
    color: $white;

    .nav__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 23rem;

        .nav__logo {
            width: 120px;
            height: auto;
        }

        .nav__list {
            display: flex;
            justify-content: space-between;
            align-items: center;


            li {
                margin-left: 2rem;
                list-style: none;

                a {
                    color: $white;
                    font-weight: bold;
                    text-decoration: none;

                    &:hover {
                        color: $primary-color;
                    }
                }

            }
        }
    }
}







@mixin button-style {
    padding: 1.1rem 6rem;
    border-radius: 2px;
}



.main__container {

    padding: 7rem;
    text-align: center;

    h1 {
        font-size: 80px;
    }

    span {

        &::before,
        &::after {
            content: '';
            /* Contenu généré, nécessaire pour les pseudo-éléments ::after */
            width: 20px;
            /* Largeur du carré */
            height: 20px;
            /* Hauteur du carré */
            background-color: $primary-color;
            /* Couleur du carré */
            display: inline-block;
            /* Affiche le carré en tant que bloc inline */
            margin-left: 5px;
            /* Marge à gauche du carré pour l'écart du texte */
        }
    }

    p {
        margin-top: -3rem;
        padding: 0 25rem;
    }

    .main__buttons {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        column-gap: 1rem;
        font-weight: bold;

        .learn-more__button {
            @include button-style;
            border: 3px solid $white;
            background-color: rgba(0, 0, 0, 0.24);
        }

        .download__button {
            @include button-style;
            background-color: $primary-color;
            border: 3px solid $primary-color;
        }

        >div {
            margin: 0 10px;
        }
    }

}



h2 {

    color: $secondary-color
}

.about {
    padding: 10rem;
    color: $gray;

    &__container {
        text-align: center;

        h2 {
            margin-bottom: 6rem;
        }
    }
}